.table {
    width: 400px;   
    height: 800px;
    border: 1px solid rgb(221, 216, 216);
    box-shadow: 4px 4px 4px hsla(0, 0%, 0%, 0.15);
    margin-left: 40px;
    margin-bottom: 40px;

    text-align: center;
}
.thead {
    color: white;
    text-align: center;
    height: 40px;
    background: rgba(66, 125, 245, 0.578);
}

.tr {
    width: 35px;
}

tbody tr:nth-child(odd) {
    background-color: white;
  }
  
  tbody tr:nth-child(even) {
    background-color: rgb(219, 208, 208);  
  }
  
  tbody tr:hover {
    cursor: pointer;
    background-color: darkgrey;
  }